.MainMenu,
.hidden {
    display: flex;
    position: fixed;
    gap: 10px;
    color: var(--title-color);
    font-size: 20px;
    padding: 20px 40px;
    z-index: 100;
    background: var(--bg-color);
    width: 100%;
}

.MainMenu {
    transform: translateY(0);
    transition: transform .3s;
}

.hidden {
    transform: translateY(-100%);
    transition: transform .3s;
}

@keyframes hideBtn {
    0% {
        top: 0
    }
    100% {
        top: -100%;
    }
}

.menu--active {
    transform: translateY(0);
    transition: transform .5s;
}


.menuItem {
    margin: 15px;
}