.Arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.part1::before {
    content: "";
    width: 2px;
    height: 30px;
    background-color: var(--title-color);
    display: block;
    border-radius: 2px;
    margin: 20px 0;
}

.part2::before {
    content: "";
    width: 2px;
    height: 30px;
    background-color: var(--title-color);
    display: block;
    border-radius: 2px;
    margin: 20px 0;
}