.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-color);
    /*background: linear-gradient(to right, #232834 , black);*/
}

.appWrapper {
    width: 1000px;
}

@media (max-width: 1400px){
    .appWrapper {
        max-width: 700px;
    }
}
@media (max-width: 900px){
    .appWrapper {
        max-width: 500px;
    }
}
@media (max-width: 700px){
    .appWrapper {
        max-width: 400px;
    }
}
@media (max-width: 550px){
    .appWrapper {
        max-width: 300px;
    }
}
@media (max-width: 450px){
    .appWrapper {
        max-width: 250px;
    }
}