.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-color);
    /*background: linear-gradient(to right, #232834 , black);*/
}

.appWrapper {
    width: 1000px;
}