.Experience {
    display: flex;
    height: 400px;
    width: 90%;
    font-size: 20px;
}

@media (max-width: 750px){
    .Experience {
        flex-direction: column;
        height: 600px;
        font-size: 15px;
    }
}
@media (max-width: 400px){
    .Experience {
        font-size: 12px;
        height: 400px;
    }
}