.contactForm {
    background-color: var(--form-color);
    width: 800px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.input {
    margin-bottom: 10px;
}

.btnWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}